* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f0 !important ;
  box-sizing: border-box;
}
.app {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
.left {
  flex: 0.96;
}
.header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards .activeCard {
  border-top: 6px solid #096dd9;
  height: 125px;
}
.title {
  font-size: 18;
  margin-bottom: 10;
  font-weight: "bold";
}
.map {
  height: 380px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 10px -2px rgb(0, 0, 0, 0.5);
}
.map .leaflet-container {
  height: 100%;
}
.map .flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}
.table {
  width: 350px;
}
@media screen and (max-width: 990px) {
  .app,
  .cards,
  .header {
    flex-direction: column;
  }
  .table {
    width: 100%;
    margin: 1rem 0;
  }
}
